<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <style>
    body {
      /*overflow: hidden;*/
      padding: 0;
      margin: 0;
      font: 12px "Berkeley Mono", monospace;
      color: #222;
      background: #f7f7f7;
    }

    .vue-dat-gui {
      width: 320px !important;
    }  

    .debug {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 400px;
      padding: 4px;
      font-size:  12px;
      color: #f7f7f7;
      background: #222;
    }

    canvas {
      background: #ddd;
    }
  </style>

</head>
<body>

<div id="app">

  <div class="debug">
    Draw cycle: {{ r(drawCycleMS)  }}ms<br />
    ---<br />
    Count: {{ places.length }}<br />
    Aspect ratio: {{ r(aspectRatio) }}<br />
    Rows / Cols: {{ rows }} / {{ cols }}<br />

    Bounding Box: {{ r(box[0].lat) }}, {{ r(box[0].lng) }} --- {{ r(box[1].lat) }}, {{ r(box[1].lng) }}<br />
    Lat height: {{ r(box[0].lat - box[1].lat) }}<br />
    Lng width: {{ r(box[1].lng - box[0].lng) }} <br />
  </div>

  <canvas id="canvas" ref="canvas"></canvas>

  <!-- <pre>
    {{ places }}
  </pre> -->

  <dat-gui>
    <dat-folder label="Places">
      <dat-number v-model="minVisitCount" label="Min visit count"></dat-number>
      <dat-select v-model="area" :items="areaSelectOptions"  label="Area" @change="onAreaChange" /></dat-folder>
    </dat-folder>

    <dat-folder label="Grid">
      <dat-number v-model="width" label="Width" :min="400" :max="4800"></dat-number>
      <dat-number v-model="aspectRatio" label="AspectRatio" :min="0.1" :max="8"></dat-number>
      <dat-number v-model="rows" label="Rows" :min="10" :max="800"></dat-number>
      <!-- <dat-number v-model="cols" label="Cols" readonly></dat-number> -->
      <dat-number v-model="maxDist" label="Placement max dist" :min="0" :max="20"></dat-number>
      <dat-boolean v-model="showGrid" label="Show grid"></dat-boolean>
    </dat-folder>
    <dat-folder label="Style">
      <dat-boolean v-model="drawLabel" label="Labels"></dat-boolean>
      <dat-color v-model="colorBg" label="Background"></dat-color>
      <dat-color v-model="colorLabel" label="Label color"></dat-color>
    </dat-folder>
  </dat-gui>


</div>

<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
<script src="https://unpkg.com/@cyrilf/vue-dat-gui@latest/dist/vue-dat-gui.umd.min.js"></script>


<script type="module">
import { Canvas } from './classes/Canvas.js';
import {
  filterByBoundingBox,
  getBoundingBox,
} from './utils/geo.js';
import { random } from './utils/math.js';


const round = (num) => Number(num).toFixed(2);

// Might not be necessary. hmm
const HORIZONTAL_SQUISH = 1;

const AREA_OPTIONS = {
  'World': [{ lat: 90, lng: -180 },{ lat: -90, lng: 180 }],
  'San Francisco': [{
    lat: 37.819001,
    lng: -122.539621,
  }, {
    lat: 37.678933,
    lng: -122.344968,
  }],
  'California': {
    state: 'CA',
    country: 'United States',
  },        
  'United States': {
    country: 'United States',
  }
};

const areaSelectOptions = Object.keys(AREA_OPTIONS).map(opt => {
  return {
    name: opt,
    value: opt,
  }
});

const PALETTE = [
  "#000",
];

const CATEGORY_PALETTE = {
  Arts: '#49e7ec',
  Coffee: '#ff4f69',
  Dessert: '#ff4f69',
  Food: '#ffda45',
  Nightlife: '#ff8142',
  Outdoors: '#ffda45',
  Shop: '#3368dc',
}

const app = new Vue({
  el: '#app',

  data() {
    return {
      grid: [],
      placesUnfiltered: [],

      box: AREA_OPTIONS['San Francisco'],
      area: 'San Francisco',

      width: 1000,
      aspectRatio: 2,
      rows: 200,
      
      maxDist: 2,
      showGrid: false,

      minVisitCount: 1,
      colorBg: '#000000',
      drawLabel: false,
      colorLabel: '#cccccc',
      areaSelectOptions,


      city: '',
      state: '',
      country: '',

      // debugging
      drawCycleMS: 0,

      // Helper funcs
      r: round,
    };
  },

  async created() {
    this.createGrid()
    
    const resp = await fetch('./data/places.json');
    const json = await resp.json();
    this.placesUnfiltered = json;
  },

  mounted() {
    this.calcAspectRatio();

    this.canvas = new Canvas(this.$refs.canvas, this.width, this.width / this.aspectRatio);
    this.ctx = this.canvas.ctx;
  },

  watch: {
    aspectRatio() {
      this.resizeCanvas();
      this.redraw();
    },

    box() {
      this.calcAspectRatio();
    },

    drawLabel() {
      this.redraw();
    },

    maxDist() {
      this.redraw();
    },

    places(val, oldVal) {
      this.redraw();
    },

    rows() {
      this.redraw();
    },

    showGrid() {
      this.redraw();
    },

    width() {
      this.resizeCanvas();
      this.redraw();
    },
  },

  computed: {
    // Debugging purposes only. Consider removing.
    // gridItemsCount() {
    //   let count = 0;
    //   for (let i = 0; i < this.grid.length; i++) {
    //     for (let j = 0; j < this.grid[0].length; j++) {
    //       if (this.grid[i][j]) {
    //         count++;
    //       }
    //     }
    //   }
    //   return count;
    // },

    cols() {
      return Math.floor(this.rows * this.aspectRatio);
    },

    latHeight() {
      return (this.box[0].lat - this.box[1].lat) / this.rows;
    },

    lngWidth() {
      return (this.box[1].lng - this.box[0].lng) / this.cols;
    },
      
    places() {
      let places = this.placesUnfiltered;
      places = this.filterByCount(places, this.minVisitCount);
      places = filterByBoundingBox(places, this.box);
      return places;
    },
  },

  methods: {        
    calcAspectRatio() {
      let latDiff = this.box[0].lat - this.box[1].lat;
      let lngDiff = this.box[1].lng - this.box[0].lng
      
      this.aspectRatio = (lngDiff * HORIZONTAL_SQUISH) / latDiff;
    },

    /**
     * Create empty grid (rows x cols)
     */
    createGrid() {
      let grid = new Array(this.rows);
      
      for (let i = 0; i < this.rows; i++) {
        grid[i] = new Array(this.cols);
      }
      
      this.grid = grid;
    },

    draw() {
      this.ctx.fillStyle = this.colorBg;
      this.ctx.fillRect(0, 0, this.canvas.width, this.canvas.height);

      let colWidth = this.canvas.width / this.cols;
      let rowHeight = this.canvas.height / this.rows;
      for (let row = 0; row < this.rows; row++) {
        for (let col = 0; col < this.cols; col++) {
          let place = this.grid[row][col];
          if (place) {
            let color = CATEGORY_PALETTE[place.category]
            this.ctx.fillStyle = color ? color : '#dcf5ff';

            let x = col * colWidth;
            let y = row * rowHeight;

            // Draw box
            // console.log(place.category, this.ctx.fillStyle);
            this.ctx.fillRect(x, y, colWidth, rowHeight)

            this.ctx.font = '8px Menlo';
            this.ctx.fillStyle = this.colorLabel;

            // let label = place.count;
            if (this.drawLabel) {
              let label = place.venue.substr(0, 20);
              this.ctx.fillText(label, x, y + rowHeight);
            }
          } else {
            this.ctx.fillStyle = '#ffffff';    
          }
        }
      }

      if (this.showGrid) {
        this.ctx.font = '8px Menlo';
        this.ctx.fillStyle = '#444';
        this.ctx.strokeStyle = '#d3d3d3';

        for (let row = 0; row < this.rows; row++) {
          for (let col = 0; col < this.cols; col++) {
            let x = col * colWidth;
            let y = row * rowHeight;
            
            this.ctx.strokeRect(x, y, colWidth, rowHeight);
            this.ctx.fillText(`${row},${col}`, x, y + 8);
          }
        }
      }
    },

    filterByCount(places, count) {
      return places.filter(place => place.count >= count);
    },

    // filterByLocale(places, city, state, country) {
    //   return places.filter(place => {
    //     if (city && place.city !== city) return false;
    //     if (state && place.state !== state) return false;
    //     if (country && place.country !== country) return false;
    //     return true;
    //   });
    // },

    gridLookup(lat, lng) {
      // BUG: row val was going out of bounds. Patched a stopgap fix with Math.min()
      // let row = Math.min(Math.floor((this.box[0].lat - lat) / this.latHeight), this.rows - 1);
      let row = Math.floor((this.box[0].lat - lat) / this.latHeight);
      let col = Math.floor((lng - this.box[0].lng) / this.lngWidth);
      return [row, col];
    },

    onAreaChange(val) {
      this.box = AREA_OPTIONS[val];
    },

    /**
     * Has a place already been stored in grid location?
     */
    isFilled(row, col) {
      // Is row/col we are checking out of bounds?
      if (row < 0
        || row >= this.rows
        || col < 0
        || col >= this.cols) {
        return false
      }   
      
      return !!this.grid[row][col];
    },

    findNearestOpenSpot(row, col) {
      if (!this.isFilled(row, col)) {
        return [row, col];
      } 

      // Check boundary

      // How many concentric circles we want to expand out as
      // we search for open spots
      let i = 1;
      let foundSpot = false;

      let newRow;
      let newCol;
      
      // randomize cardinal direction?

      // Loop i till maxDist
        // North
        // East
        // South
        // West

        // Loop j till < i
          // North - offset left and right by j
          // East - offset left and right by j
          // South - offset left and right by j
          // West - offset left and right by j

      while (i <= this.maxDist && !foundSpot) {
        
        // North
        if (!this.isFilled(row - i, col)) {
          foundSpot = true;
          newRow = row - i;
          newCol = col;
        }

        // East
        if (!this.isFilled(row, col + i)) {
          foundSpot = true;
          newRow = row;
          newCol = col + i;
        }

        // South
        if (!this.isFilled(row + i, col)) {
          foundSpot = true;
          newRow = row + i;
          newCol = col;
        }

        // West
        if (!this.isFilled(row, col - i)) {
          foundSpot = true;
          newRow = row;
          newCol = col - i;
        }

        for (let j = 1; j <= i; j++) {
          // North - offset left and right by j
          if (!this.isFilled(row - i, col - j)) {
            foundSpot = true;
            newRow = row - i;
            newCol = col - j;
            break;            
          }

          if (!this.isFilled(row - i, col + j)) {
            foundSpot = true;
            newRow = row - i;
            newCol = col + j;
            break;            
          }

          // East - offset left and right by j
          if (!this.isFilled(row - j, col + i)) {
            foundSpot = true;
            newRow = row - j;
            newCol = col + i;
            break;            
          }

          if (!this.isFilled(row + j, col + i)) {
            foundSpot = true;
            newRow = row + j;
            newCol = col + i;
            break;            
          }

          // South - offset left and right by j
          if (!this.isFilled(row + i, col - j)) {
            foundSpot = true;
            newRow = row + i;
            newCol = col - j;
            break;            
          }

          if (!this.isFilled(row - i, col + j)) {
            foundSpot = true;
            newRow = row + i;
            newCol = col + j;
            break;            
          }

          // West - offset left and right by j
          if (!this.isFilled(row - j, col - i)) {
            foundSpot = true;
            newRow = row - j;
            newCol = col - i;
            break;            
          }

          if (!this.isFilled(row + j, col - i)) {
            foundSpot = true;
            newRow = row + j;
            newCol = col - i;
            break;            
          }



        }

        i++;      
      }

      //   let a = nearBySquares.find(index => {
      //     newRow = index[0];
      //     newCol = index[1];

      //     if (!this.grid[newRow][newCol]) {
      //       foundSpot = true;
      //       return true;
      //     }
      //   });

      //   i++;
      // }

      if (foundSpot) {
        return [newRow, newCol]  
      } else {
        return false;
      }
      
    },

    /**
     * Create empty grid (rows x cols)
     */
    populateGrid() {
      this.places.forEach(place => {
        let index = this.gridLookup(place.lat, place.lng);
        let row = index[0];
        let col = index[1];
        let nearest = this.findNearestOpenSpot(row, col);
        if (nearest) {
          let [ openRow, openCol ] = nearest;  
          this.grid[openRow][openCol] = place;
        }
      })

      // What about water?

      // If square is already taken, what is the closest? optionally limit how far away it can be?

    },

    redraw() {
      const start = performance.now(); // returns something like 138.899999998509884, which means 138.9 milliseconds passed
      
      this.createGrid()
      this.populateGrid();
      this.draw();
      
      this.drawCycleMS = performance.now() - start;
    },

    resizeCanvas() {
      this.canvas.resize(this.width, this.width / this.aspectRatio);
    }
  }
});
</script>


  

</body>
</html>
